/project/node_modules
/project/public/hot
/project/public/storage
/project/storage/*.key
/project/vendor
/project/.env
/project/.env.backup
/project/.phpunit.result.cache
/project/Homestead.json
/project/Homestead.yaml
/project/npm-debug.log
/project/yarn-error.log
