/* master content design start */
.font-size{
    font-size: 20px;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 62px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-top: 62px;
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
/* master content design end */


/* all post design start */
.post-area{
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.user-name{
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-type{
    font-size: 15px;
    font-weight: 500;
    background-color: #50ce85;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.post-time{
    font-size: 20px;
    font-weight: 300;
}

.post-text{
    margin-bottom: 0;
    font-size: 25px;
}
/* all post design end */

/* pending post design start */
.post-status{
    font-size: 15px;
    font-weight: 500;
    background-color: #c75353;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
/* pending post design start */