body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(131,196,213,1) 46%, rgba(0,212,255,1) 100%);
}

.about-link, .signup-link{
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 100px;
}

.signup-link:hover{
    color: white;
    font-weight: 600;
}

.about-link:hover{
    color: white;
    font-weight: 600;
}

.login-content{
    color: white;
    margin-top: 150px;
    padding: 0 50px;
}
    
.login-form{
    margin-top: 170px;
    padding: 0 50px;
}